<!DOCTYPE html>
<html lang="en">

<head>
    <title>DjangoPollSite</title>
    <meta charset="utf-8">
    
    {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/fonts/css/font-awesome.min.css' %}" />
    
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/jquery-2.1.4.min.js' %}"></script>
    <!--<script src="{% static 'polls/js/jquery-1.11.13.min.js' %}"></script>-->

</head>
    
<body>

    <div id="container" class="container-fluid">
        
    <div class="row"><!--header row-->
        
    <header id="header" class="col-md-12 col-xs-12">
        
        <nav id="navigator" class="col-md-12">
            <div id="navLeft" class="col-xs-6">
                <a href="foo">Interphase</a>
            </div>
            <div id="navRight" class="col-xs-6">
                <a href="foo">Home</a>
                <a href="foo">Generic</a>
                <a href="foo">Elements</a>
            </div>
        </nav><!--end of nav-->

        <h1>3 Ajankohtaista kysymystä</h1>
        <p>Vastaa ja voita!</p>
        <a href="foo">Aloita tästä</a>
        
    </header><!--end of header-->
    </div><!--end of row-->
    
    <div class="row"><!--mainContent row-->
    <article id="mainContent" class="col-md-12 col-xs-12">
        
        <p id="mainContentHeader">Vastaa näihin kolmeen kysymykseen</p>
        <p id="mainContentParagraph">Vastattuasi otamme sinuun ytheyttä ja voit olla uuden Ladan omistaja</p>
        
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        <article id="pollContainer" class="col-md-8"> <!--polls after this!-->
            
            <ul>
                <li id="pollListIcon" class="col-md-4 col-sm-4 col-xs-4"><i class="fa fa-camera-retro fa-3x" ></i></li >
                <li id="pollListIcon" class="col-md-4 col-sm-4 col-xs-4"><i class="fa fa-camera-retro fa-3x" ></i></li >
                <li id="pollListIcon" class="col-md-4 col-sm-4 col-xs-4"><i class="fa fa-camera-retro fa-3x" ></i></li >
            
            {% if latest_question_list %}
            {% for question in latest_question_list %}
                <li id="pollListItem" class="col-md-4 col-xs-4"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>

            {% else %}
                <p>No polls are available</p>
            {% endif %}
        
        </article><!--end of polls-section-->
        
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        
    </article><!--end of mainContent-->
    </div><!--end of row-->
    
    <!-- RESPONSIIVISUUDET EI FUTAA VIELÄ-->
    <div class="row"><!--footer row-->
    <footer id="foot" class="col-lg-12 col-md-12">
        
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        
        <article class="col-md-8"><!--page info-->
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div id="tableContainer">
                    <p id="footHeader"><strong>Lorem Ipsum</strong></p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <table class="col-lg-12 col-md-12 col-xs-12">    
                    <tr><td>Höpöhpöpö</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                </table>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div id="tableContainer">
                    <p id="footHeader"><strong>Lorem Ipsum</strong></p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div> 
                <table class="col-lg-12 col-md-12 col-xs-12">    
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                </table>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div id="tableContainer">
                    <p><strong>Contact Us</strong></p>
                    <table class="col-lg-12 col-md-12 col-xs-12">
                        <tr>
                            <td>
                                <a id="social" href="http://www.twitter.com" class="fa fa-twitter fa-1x"></a></td>
                            <td>
                                <a id="social" href="http://www.facebook.com" class="fa fa-facebook fa-1x"></a></td>
                            <td>
                                <a id="social" href="http://www.plus.google.com" class="fa fa-google-plus fa-1x"></a></td>
                            <td>
                                <a id="social" href="http://www.pinterest.com" class="fa fa-pinterest fa-1x"></a></td>
                            <td>
                                <a id="social" href="http://www.linkedin.com" class="fa fa-linkedin fa-1x"></a></td>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="col-lg-12 col-md-12 col-xs-12" id="contactTable">
                    <tr>
                        <td><strong>Address</strong></td>
                        <td id="footerData">Torttukatu 24 </ br>00699 Hinurila</td>
                    </tr>
                    <tr>
                        <td><strong>Mail</strong></td>
                        <td id="footerData">contact@isis.com</td>
                    </tr>
                    <tr>
                        <td><strong>Phone</strong></td>
                        <td id="footerData">0700-allahu</td>
                    </tr>
                </table>
            </div>
        </article><!--end of pageinfo-->
    
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        <div class="col-md-3 col-sm-3 col-xs-3"></div><!--placeholder-->
        
        <div id="copyFooter" class="col-md-6"><!--copyright info-->
            <table class="col-lg-12">
                <tr>
                    <td>&copy; Untitled. All right reserved</td><td>Design: Hippi</td><td>Images: apina.biz</td>
                </tr>
            </table>
        </div>
    
        <div class="col-md-3 col-sm-3 col-xs-3"></div><!--placeholder-->
    
    </footer><!--end of footer-->
    </div><!--end of row-->  
        
    </div><!-- end of container-->

</body>
</html>