<!DOCTYPE html>
<html lang="en">

<head>
    <title>DjangoPollSite</title>
    <meta charset="utf-8">
    
    {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styleResults.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/fonts/css/font-awesome.min.css' %}" />
    
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/jquery-2.1.4.min.js' %}"></script>
    <!--<script src="{% static 'polls/js/jquery-1.11.13.min.js' %}"></script>-->

</head>
    
<body>

    <div id="container" class="container-fluid">
    <div class="row"><!--header row-->
        
    <header id="header" class="col-md-12 col-xs-12">
        
        <nav id="navigator" class="col-md-12">
            <div id="navLeft" class="col-xs-6">
                <a href="foo">Interphase</a>
            </div>
            <div id="navRight" class="col-xs-6">
                <a href="foo">Home</a>
                <a href="foo">Generic</a>
                <a href="foo">Elements</a>
            </div>
        </nav><!--end of nav-->

        <!--<h1>3 Ajankohtaista kysymystä</h1>
        <p>Vastaa ja voita!</p>
        <a href="foo">Aloita tästä</a>-->
        
    </header><!--end of header-->
    </div><!--end of row-->
    
    <div class="row"><!--mainContent row-->
    <article id="mainContent" class="col-md-12 col-xs-12">
        
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        <article id="pollContainer" class="col-md-8"> <!--polls after this!-->
            
            <i id="pollListIcon"class="fa fa-camera-retro fa-3x" ></i>
                
            <h1>{{ question.question_txt }}</h1>

            <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} -- {{ choice.vote }} votes{{ choice.votes|pluralize }}</li>
            {% endfor %}
            </ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
        
        </article><!--end of polls-section-->
        
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        
    </article><!--end of mainContent-->
    </div><!--end of row-->
    
    <div class="row"><!--footer row-->
    <footer id="foot" class="col-lg-12 col-md-12">
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        
        <article class="col-md-8"><!--page info-->
            <div class="col-md-4 col-sm-4 col-xs-4">
                <table>    
                    <th id="footHeader">Lorem Ipsum</th>
                    <tr><td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                    <tr><td>Höpöhpöpö</td></tr>
                </table>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4">
                <table>    
                    <th>Lorem Ipsum</th>
                    <tr><td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                    <tr id="footerData"><td>Höpöhpöpö</td></tr>
                </table>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4">
                <table class="col-lg-12">
                    <th>Contact Us</th>
                    <tr>
                        <td id="socialTD">
                            <a id="social" href="http://www.twitter.com" class="fa fa-twitter fa-1x"></a>
                            <a id="social" href="http://www.facebook.com" class="fa fa-facebook fa-1x"></a>
                            <a id="social" href="http://www.plus.google.com" class="fa fa-google-plus fa-1x"></a>
                            <a id="social" href="http://www.pinterest.com" class="fa fa-pinterest fa-1x"></a>
                            <a id="social" href="http://www.linkedin.com" class="fa fa-linkedin fa-1x"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td id="footerData">Torttukatu 24 </ br>00699 Hinurila</td>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <td id="footerData">contact@isis.com</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td id="footerData">0700-allahu</td>
                    </tr>
                </table>
            </div>
        </article><!--end of pageinfo-->
        <div class="col-md-2 col-sm-2 col-xs-2"></div><!--placeholder-->
        
        <div id="copyFooter" class="col-md-12">
            <table>
                <tr>
                    <td>c Untitled. All right reserved</td><td>Design: Hippigay</td><td>Images: apina.biz</td>
                </tr>
            </table>
        </div>
    </footer><!--end of footer-->
    </div><!--end of row-->  
        
    </div><!-- end of container-->

</body>
</html>