
body {
    background: #343737;
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    max-width: 1500px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER AND NAVIGATOR */
#header {
    background: #343737 url("images/banner.jpg") no-repeat;
    background-size: 100% 120%;
    background-position: bottom;
    height: 400px;
    margin: auto;
    text-align: center;
}

#navigator {
    height: 120px;
}

#navLeft {
    text-align: left;
    font-size: 16px;
}

#navRight {
    text-align: right;
    font-size: 12px;
}

#navRight, #navLeft {
    margin: auto;
    width: 50%;
    float:left;
    padding: 25px;
    box-sizing: border-box;
}

#navRight > a {
    margin-left: 20px;
}

#header > h1 {
    font-size: 32px;
}

#header > p {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
}

#header > a {
    font-size: 20px;
    border: solid 3px #fff;
    border-radius: 10px;
    padding: 15px 25px;
}

/* END OF HEADER AND NAVIGATOR */

/* MAINCONTENT */
#mainContent {
    background: #3ba666;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

#mainContentHeader {
    font-size: 20px;
    margin-bottom: 25px;
}

#mainContentParagraph {
    margin-bottom: 50px;
}

#pollContainer {
    margin: auto;
    height: 100%;
}

#pollListIcon, #pollListItem {
    width: 33%;
    margin-bottom: 25px;
    display: inline-block;
}

#pollListIcon > i {
    border: solid 2px white;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding-top: 10%;
}

#pollListItem {
    margin-bottom: 100px;
}

/* END OF MAINCONTENT */

#foot {
    padding-top: 100px;
    background: #202222;
    border-top: solid 5px white;
    font-size: 14px;
}

/*footer info table*/

#foot > table, tr, td {
    border: none;
    line-height: 30px;
    margin: auto;
    width: 80px;
    margin-right: 10px;
}

#social {
    margin-bottom: 10px;
    border: solid 1px #fff;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 15%;
}

#contactTable {
    
}

#tableContainer {
    height: 150px;
    
}

#copyFooter {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: darkgrey;
    text-decoration: none;
}